<?xml version="1.0" encoding="utf-8"?>
<settings>
  <theme>
    <url>themes/Arabic/settings.xml</url>
    <configUrl>themes/Arabic/settings.en-us.xml</configUrl>
    <jqueryui>css/wijmo/aristo/jquery-wijmo.css</jqueryui>
  </theme>
  <references>
    <css>Links/HTML.css</css>
  </references>
  <strings>
    <pageHeaderText>دروس من تفسير القرآن العظيم</pageHeaderText>
    <emailAddress>support@mycompany.com</emailAddress>
  </strings>
  <windows>
    <window>
      <name>proc</name>
      <features>left=680,top=10,height=500,width=315</features>
    </window>
  </windows>
</settings>